<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.aha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".doctor_panel.DoctorMainActivity"
            android:label="@string/title_activity_doctor_main" />
        <activity android:name=".admin_panel.AdminMainActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".admin_panel.AddDoctorActivity" />
        <activity android:name=".admin_panel.DeleteDoctorActivity" />
        <activity android:name=".admin_panel.DeleteParentActivity" />
        <activity android:name=".doctor_panel.PatientsFilesActivity" />
        <activity android:name=".parent_panel.ParentMainActivity" />
        <activity
            android:name=".SigninActivity"
            android:label="@string/title_activity_signin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".parent_panel.ParentSingleView" />
        <activity android:name=".doctor_panel.CreateExercise" />
        <activity android:name=".doctor_panel.DoctorExercises" />
        <activity android:name=".SingleExerciseView"></activity>
    </application>

</manifest>