<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.aha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher_round"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AHATheme">
        <activity
            android:name=".LoginActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_login"
            android:roundIcon="@mipmap/ic_launcher_round" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".doctor_panel.DoctorMainActivity"
            android:label="@string/dashboard" />
        <activity
            android:name=".parent_panel.ParentMainActivity"
            android:label="@string/dashboard" />
        <activity
            android:name=".admin_panel.AdminMainActivity"
            android:label="@string/dashboard" />
        <activity
            android:name=".parent_panel.SignUpActivity"
            android:label="@string/sign_up" />
        <activity
            android:name=".admin_panel.AddDoctorActivity"
            android:label="@string/add_doctor_title" />
        <activity
            android:name=".admin_panel.DeleteDoctorActivity"
            android:label="@string/delete_doctor_title" />
        <activity
            android:name=".admin_panel.DeleteParentActivity"
            android:label="@string/delete_parent_title" />
        <activity
            android:name=".doctor_panel.PatientsFilesActivity"
            android:label="@string/patients_file_title" />
        <activity
            android:name=".parent_panel.CompleteRegister"
            android:label="@string/advance_registration" />
        <activity android:name=".parent_panel.ParentSingleView" />
        <activity
            android:name=".doctor_panel.CreateExercise"
            android:label="@string/create_exercise" />
        <activity
            android:name=".ExercisesList"
            android:label="@string/my_exercises" />
        <activity android:name=".SingleExerciseView" />
        <activity
            android:name=".parent_panel.CARS_Exam"
            android:label="@string/cars_exam" />
        <activity
            android:name=".parent_panel.ResultCARS"
            android:label="@string/cars_result_title" />
        <activity
            android:name=".parent_panel.MedicalHistoryList"
            android:label="@string/medical_history" />
        <activity android:name=".parent_panel.SingleMedicalHistory" />
        <activity android:name=".parent_panel.WhatAutism" />
    </application>

</manifest>